.sticky-input-button {
  border-radius: 7px 0px 0px 7px;
}

.border-fieldset {
  border-color: rgb(0 0 0 / 10%) !important;
}

img:hover {
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(163, 236, 160);
  cursor: pointer;
}

tr.example-element-row:active {
  background: #292424;
}

.labelUpload {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.form-select {
  border-radius: 5px;
  border-width: 2px;
  border-color: #0171bb;
}

.form-input {
  border: none !important;
}

.action-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.icon-disable {
  color: #b8b8b8;
  cursor: unset !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 15px;
  font-weight: 600;
}

td {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

th.mat-header-cell:first-of-type {
  font-size: 15px;
  font-weight: 600;
  padding-left: 0px;
}

th.mat-header-cell:last-of-type {
  padding-right: 0px;
}

.blue {
  background-color: #acd2eb;
  font-weight: bold;
}

.ma-phieu-view {
  background: #dbe2f3;
  color: #4674eb;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 3px;
}

::ng-deep .big-size-model-class .modal-dialog {
  max-width: 100%;
  width: 100%;
}

.padding-popup {
  padding: 13px 16px;
}

.data {
  width: 30%;
  max-width: 35%;
  word-break: break-word;
}

.tableData tr:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-column-organisation {
  text-align: left !important;
}

.mat-column-contract {
  text-align: left !important;
}

.mat-column-assetCode {
  text-align: left !important;
}

.mat-column-labor {
  text-align: right !important;
}

.mat-column-material {
  text-align: right !important;
}

.mat-column-createdDatetimeStr {
  text-align: center !important;
}

.mat-column-constructionDateStr {
  text-align: center !important;
}
