<div class="position-relative" style="height: 100%">
  <div class="py-5">
    <div class="col-md-2 col-sm-12 col-12 col-lg-12">
      <div class="label-card">
        <label class="form-label title-screen text-uppercase">{{ 'TITLE.TRANSFER_ASSET' | translate }}</label>
      </div>
    </div>
  </div>
  <div #formSearch class="p-4" style="background-color: white">
    <div class="text-break">
      <div class="mb-4">
        <!-- begin: Filtration form -->
        <form action="#" class="form form-label-right" [formGroup]="searchForm">
          <div class="font-weight-bolder mb-12" style="font-size: 1.275rem">
            {{ 'BUTTON.SEARCH' | translate }}
            {{ 'TITLE.TRANSFER_ASSET' | translate | lowercase }}
          </div>
          <div class="row form-group">
            <div class="col-lg-1 col-sm-1"></div>
            <div class="col-lg-10 col-sm-10">
              <div class="row">
                <label class="col-lg-2 col-sm-12 form-label col-form-label font-14" for="lastUpdateDatetime">{{
                  'LABEL.CONSTRUCTION_DATE' | translate }} <span style="color: red">*</span></label>
                <div class="col-lg-4 col-sm-12">
                  <mat-form-field appearance="fill">
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate formControlName="start" (dateChange)="eChangeDate()" (input)="eChangeDate()"
                      [placeholder]="'DATE.FROM_DATE' | translate" />
                      <input matEndDate formControlName="end"
                      [placeholder]="'DATE.TO_DATE' | translate" />
                    </mat-date-range-input>
                    <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-datepicker-toggle matIconSuffix [for]="picker" class="icon-datePicker"></mat-datepicker-toggle>
                    <div style="color: red" *ngIf="startDateErrorMsg != ''">{{ startDateErrorMsg | translate }}</div>
                  </mat-form-field>
                </div>
                <label class="col-lg-2 col-sm-12 form-label col-form-label font-14" for="assetCode">{{ 'LABEL.TYPE_OF_ASSET'
                  |
                  translate }}</label>
                <div class="col-lg-4 col-sm-12">
                  <select class="form-control font-14" name="typeOfAssetCode" id="typeOfAssetCode"
                    [(ngModel)]="query.typeOfAssetCode" formControlName="typeOfAssetCode">
                    <ng-container *ngFor="let item of openingBalanceService.cbxTypeOfAsset | async">
                      <option [value]="item.name">
                        {{ item.name == ''? ('DEFAULT_OPTION.SELECT' | translate) : item.name }}
                      </option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2 col-sm-12 form-label col-form-label font-14" for="sourceOfAsset">{{ 'LABEL.SOURCE_OF_ASSET'
                  |
                  translate }}</label>
                <div class="col-lg-4 col-sm-12">
                  <select class="form-control font-14" name="sourceOfAsset" id="sourceOfAsset"
                    formControlName="sourceOfAsset" [(ngModel)]="query.sourceOfAsset">
                    <ng-container *ngFor="let item of openingBalanceService.cbxSourceOfAsset | async">
                      <option [value]="item.value">
                        <span>{{ item.name }}</span>
                      </option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>

          <div class="form-group pb-0 mt-5">
            <div class="d-flex justify-content-center">
              <div (click)="eSearch()"
                class="mx-3 px-8 btn btn-primary font-weight-bolder d-flex align-items-center justify-content-around"
                style="height: 38px">
                <i class="mr-2 fas fa-search cursor-pointer"></i>
                {{ 'ACTION.SEARCH' | translate }}
              </div>

              <div (click)="eResetForm()"
                class="mx-3 px-8 btn btn-outline-primary font-weight-bolder d-flex align-items-center justify-content-around"
                style="height: 38px">
                <i class="mr-2 fas fa-redo cursor-pointer"></i>
                {{ 'COMMON_BUTTON.RESET' | translate }}
              </div>
            </div>
          </div>
        </form>
        <!-- end: Filtration form -->
      </div>

      <div class="">
        <div class="d-flex align-items-center justify-content-between">
          <!-- tiêu đề bảng -->
          <div>
            <span class="" style="font-weight: 600; font-size: 1.275rem">
              {{ 'LABEL.LIST_TRANSFER_ASSET' | translate }}
            </span>
          </div>
          <!-- hành động bảng -->
          <div class="d-flex">
            <div (click)="displayFormAdd(null, true)"
              class="ml-3 px-4 btn btn-outline-primary font-weight-bolder align-items-center d-flex"
              style="height: 38px">
              {{ 'TITLE.TRANSFER_ASSET' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <mat-form-field appearance="standard">
          <mat-label class="font-14"> <i class="fas fa-search"></i> {{ 'TITLE.SEARCH_ADVANCE' | translate }}
          </mat-label>
          <!-- @ -->
          <input class="border-bottom-danger" [(ngModel)]="query.groupFilter" matInput #autoFocus />
        </mat-form-field>
      </div>
      <div class="pt-0">
        <div class="table-responsive angular-bootstrap-table">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- Index Column -->
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>
                  {{ 'COMMON.INDEX' | translate }}
                </th>
                <td mat-cell *matCellDef="let index = index">
                  {{ paginator.pageIndex * paginator.pageSize + index + 1 }}
                </td>
              </ng-container>
              <!-- assetCode  -->
              <ng-container matColumnDef="assetCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ 'LABEL.ASSETCODE' | translate }}
                </th>
                <td mat-cell *matCellDef="let item" style="text-align: left">{{ item.assetCode }}</td>
              </ng-container>
              <!-- transfer Original Amount  -->
              <ng-container matColumnDef="increaseOriginalAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ 'LABEL.TRANSFER_ORIGINAL_AMOUNT' | translate }}
                </th>
                <td mat-cell *matCellDef="let item" style="text-align: left">{{ item.increaseOriginalAmount | number :
                  '1.0-0'}}</td>
              </ng-container>
              <!-- transfer Amount  -->
              <ng-container matColumnDef="increaseAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ 'LABEL.TRANSFER_INCREASE_AMOUNT' | translate }}
                </th>
                <td mat-cell *matCellDef="let item" style="text-align: left">{{ item.increaseAmount | number : '1.0-0'}}
                </td>
              </ng-container>
              <!-- departmentCode -->
              <ng-container matColumnDef="departmentCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ 'LABEL.DEPARTMENT_CODE' | translate }}
                </th>
                <td mat-cell *matCellDef="let item" style="text-align: left">{{ item.departmentCode }}</td>
              </ng-container>
              <!-- departmentCodeReceive -->
              <ng-container matColumnDef="departmentCodeReceive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ 'LABEL.DEPARTMENT_CODE_RECEIVE' | translate }}
                </th>
                <td mat-cell *matCellDef="let item" style="text-align: left">
                  {{ item.departmentCodeReceive}}
                </td>
              </ng-container>
              <!-- typeOfAssetName -->
              <ng-container matColumnDef="typeOfAssetName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ 'LABEL.TYPE_OF_ASSET_NAME' | translate }}
                </th>
                <td mat-cell *matCellDef="let item" style="text-align: left">{{ item.typeOfAssetName }}</td>
              </ng-container>
              <!-- sourceOfAssetName -->
              <ng-container matColumnDef="sourceOfAssetName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ 'LABEL.SOURCE_OF_ASSET' | translate }}
                </th>
                <td mat-cell *matCellDef="let item" style="text-align: left">{{ item.sourceOfAssetName }}</td>
              </ng-container>
              <!-- createdDatetimeStr  -->
              <ng-container matColumnDef="createdDatetimeStr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ 'LABEL.CREATED_DATE' | translate }}
                </th>
                <td mat-cell *matCellDef="let item" style="text-align: center">
                  {{ item.createdDatetimeStr}}
                </td>
              </ng-container>
              <!-- createdDatetimeStr  -->
              <ng-container matColumnDef="constructionDateStr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ 'LABEL.CONSTRUCTION_DATE' | translate }}
                </th>
                <td mat-cell *matCellDef="let item" style="text-align: center">
                  {{ item.constructionDateStr}}
                </td>
              </ng-container>
              <!-- action -->
              <!-- <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "LABEL.ACTION" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let item">
                    <div style="min-width: 100px; display: flex;">
                      <div>
                        <i (click)="displayFormAdd(item, false); $event.stopPropagation()" data-toggle="tooltip"
                          data-placement="top" [title]="'ACTION.EDIT' | translate"
                          class="fas fa-edit fa-lg p-0 text-warning text-hover-danger cursor-pointer"></i>
                      </div>
                    </div>
                  </td>
                </ng-container> -->
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="example-element-row zindex-5"
                (click)="eViewDetail(element)"></tr>
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="15">
                  {{ 'NO_MATCH_DATA' | translate }}
                </td>
              </tr>
            </table>
            <mat-paginator #paginator (page)="onPaginateChange($event)" [pageSize]="20"
              [pageSizeOptions]="[10, 20, 25, 30, 50]" showFirstLastButtons
              aria-label="Select page of results"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
    <!-- end: trans -->
  </div>
  <div class="pb-1"></div>
  <ngx-spinner bdColor="rgba(0,0,0,0)" size="default" color="#1dc5be" type="ball-clip-rotate"
    [fullScreen]="true"></ngx-spinner>
</div>