<div class="pt-5 pl-5 pr-5">
  <div class="">
    <h5 style="font-weight: 700" *ngIf="propAction == 'add'">
      {{ 'FUNCTION.ADD' | translate }}
    </h5>
    <h5 style="font-weight: 700" *ngIf="propAction == 'update'">
      {{ 'FUNCTION.UPDATE' | translate }}
    </h5>
    <hr />
    <br />
    <div class="row form-group"></div>
    <div>
      <form class="form" [formGroup]="addEditForm">
        <div class="row form-group">
          <label class="col-md-2 form-label col-form-label">
            {{ 'TYPE_OF_ASSET.CODE' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="code"
              [class.is-invalid]="isControlInvalid('code')"
              maxlength="100"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'code')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TYPE_OF_ASSET.CODE' | translate } }}
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end my-5">
          <button class="btn btn-primary mx-3" style="width: 150px" (click)="eSave('add')">
            {{ 'ACTION.SAVE' | translate }}
          </button>
          <button class="btn btn-primary mx-3" style="width: 150px" (click)="eSave('update')">
            {{ 'ACTION.SAVE' | translate }}
          </button>
          <button class="btn btn-outline-primary mx-3" style="width: 150px" (click)="eClose()">
            {{ 'ACTION.CLOSE' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
