<!-- begin: Phieu cong tac list -->
<div class="card-header border-bottom-0 pb-0">
  <h5 class="card-label">
      {{  'TITLE.LIST_HOTEL' | translate  }}
  </h5>
</div>
<div class="card-body pt-0">
  <!-- begin:Table -->
  <div class="table-responsive angular-bootstrap-table">
      <!-- mat table -->
      <mat-form-field appearance="standard">
          <mat-label><i class="fas fa-search"></i> {{ 'TITLE.SEARCH_ADVANCE' | translate }}</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
          <table width="100%" mat-table [dataSource]="dataSource" matSort
                 (matSortChange)="announceSortChange($event)">
              <!-- Index Column -->
              <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef> {{ 'LABEL.STT' | translate  }}</th>
                  <td mat-cell *matCellDef="let index = index"> {{(paginator.pageIndex * paginator.pageSize)+index + 1}} </td>
              </ng-container>
              <ng-container matColumnDef="tinh">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'LABEL.PROVINCE' | translate }}</th>
                  <td mat-cell *matCellDef="let item"> {{item.provinceName}} </td>
              </ng-container>
              <ng-container matColumnDef="khachSan">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'LABEL.HOTEL_NAME' | translate }}</th>
                  <td mat-cell *matCellDef="let item"> {{item.hotelName}} </td>
              </ng-container>
              <ng-container matColumnDef="loaiPhong">
                  <th mat-header-cell *matHeaderCellDef> {{ 'LABEL.ROOM_TYPE' | translate }}</th>
                  <td mat-cell *matCellDef="let item"> {{item.roomTypeName}} </td>
              </ng-container>
              <ng-container matColumnDef="soPhongThue">
                  <th mat-header-cell *matHeaderCellDef> {{ 'LABEL.NUMBER_RENT_ROOM' | translate }}</th>
                  <td mat-cell *matCellDef="let item"> {{item.numberOfRoom}} </td>
              </ng-container>
              <ng-container matColumnDef="soNgayThue">
                  <th mat-header-cell *matHeaderCellDef> {{ 'LABEL.NUMBER_RENT_DAY' | translate }}</th>
                  <td mat-cell *matCellDef="let item"> {{item.numberOfDay}} </td>
              </ng-container>
              <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'LABEL.COST_DAY' | translate }}</th>
                  <td mat-cell *matCellDef="let item"> {{item.price | number: '1.0' : 'en-US'}} </td>
              </ng-container>
              <ng-container matColumnDef="totalAmount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'LABEL.TOTAL_COST' | translate }}</th>
                  <td mat-cell *matCellDef="let item"> {{item.totalAmount | number: '1.0' : 'en-US'}} </td>
              </ng-container>
              <ng-container matColumnDef="note">
                  <th mat-header-cell *matHeaderCellDef> {{ 'LABEL.NOTE' | translate }}</th>
                  <td mat-cell *matCellDef="let item"> {{item.note}} </td>
              </ng-container>
              <!-- <ng-container matColumnDef="hanhDong">
                  <th mat-header-cell *matHeaderCellDef> Hành động</th>
                  <td mat-cell *matCellDef="let item">
                  </td>
              </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let item; columns: columnsToDisplay"></tr>
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="10">{{'MESSAGE.NO_MATCH_DATA' | translate}} {{input.value}}</td>
              </tr>
          </table>
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons
                         aria-label="Select page of results"></mat-paginator>
      </div>
  </div>
</div>
<!-- end: Phieu cong tac list -->
