.ma-phieu-view {
  background: #dbe2f3;
  color: #4674eb;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 3px;
}

.field-autocomplete {
  border: 1px solid #bdbdbd;
  padding-left: 10px;
  box-sizing: border-box;
}

.field-autocomplete-error {
  border-color: #F64E60;
}