<div class="pt-5 pl-5 pr-5">
  <div class="">
    <h5 style="font-weight: 700">
      {{ 'FUNCTION.ADD' | translate }}
    </h5>
    <hr />
    <br />
    <div>
      <form class="form" [formGroup]="addEditForm">
        <div class="row form-group justify-content-around">
          <label class="col-md-2 form-label col-form-label">
            {{ 'LABEL.TYPE_OF_ASSET' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="name"
              [class.is-invalid]="isControlInvalid('name')"
              maxlength="50"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'name')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'LABEL.TYPE_OF_ASSET' | translate } }}
            </div>
          </div>
          <!-- description -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TYPE_OF_ASSET.DESCRIPTION' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="description"
              [class.is-invalid]="isControlInvalid('description')"
              maxlength="500"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'description')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TYPE_OF_ASSET.DESCRIPTION' | translate } }}
            </div>
          </div>
        </div>
        <div class="row form-group justify-content-around">
          <!-- account -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TYPE_OF_ASSET.ACCOUNT' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="account"
              [class.is-invalid]="isControlInvalid('account')"
              maxlength="50"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'account')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TYPE_OF_ASSET.ACCOUNT' | translate } }}
            </div>
          </div>
          <!-- depreciation_frame -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TYPE_OF_ASSET.DEPRECIATION_FRAME' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              NumbersOnly
              class="form-control"
              formControlName="depreciationFrame"
              [class.is-invalid]="isControlInvalid('depreciationFrame')"
              maxlength="3"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'depreciationFrame')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TYPE_OF_ASSET.DEPRECIATION_FRAME' | translate } }}
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('minValue', 'depreciationFrame')">
              {{
                'VALIDATION.MIN_VALUE' | translate : { name: 'TYPE_OF_ASSET.DEPRECIATION_FRAME' | translate, min: 0 }
              }}
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end my-5">
          <button class="btn btn-primary mx-3" style="width: 150px" (click)="eSave()">
            {{ 'ACTION.SAVE' | translate }}
          </button>
          <button class="btn btn-outline-primary mx-3" style="width: 150px" (click)="eClose()">
            {{ 'ACTION.CLOSE' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- new modal -->

<div class="p-5 m-5">
  <div>
    <section class="d-flex justify-content-between align-items-center">
      <h4 style="font-weight: 1000; font-size: 15px">Danh sách các bộ tiêu chí</h4>
      <button
        class="btn btn-outline-primary font-weight-bolder"
        type="button"
        label="Add Statement"
        (click)="_addGroup()"
      >
        Thêm mới bộ tiêu chí
      </button>
    </section>
    <hr />
    <br />

    <form [formGroup]="_form">
      <ng-container formGroupName="statement">
        <ng-container formArrayName="groups">
          <ng-container *ngFor="let group of _groupsFormArray?.controls; index as i">
            <app-group-control (remove)="_delete(i)" [formControlName]="i" [formLabel]="'Bộ tiêu chí ' + (i + 1) + ':'">
            </app-group-control>
          </ng-container>
        </ng-container>
      </ng-container>
    </form>
  </div>
  <br />
  <br />
  <pre>{{ _form.value | json }}</pre>
</div>
