<div class="pt-5 pl-5 pr-5">
  <div class="">
    <h5 style="font-weight: 700">
      {{ isUpdate ? ('FUNCTION.UPDATE' | translate) : ('FUNCTION.ADD' | translate) }}
    </h5>
    <hr />
    <br />
    <div>
      <form class="form" [formGroup]="addEditForm">
        <div class="row form-group justify-content-around">
          <!-- kpiNameVi -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TITLE.KPI_NAME_VI' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="kpiNameVi"
              [class.is-invalid]="isControlInvalid('kpiNameVi')"
              maxlength="100"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'kpiNameVi')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TITLE.KPI_NAME_VI' | translate } }}
            </div>
          </div>
          <!-- kpiNameLa -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TITLE.KPI_NAME_LA' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="kpiNameLa"
              [class.is-invalid]="isControlInvalid('kpiNameLa')"
              maxlength="100"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'kpiNameLa')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TITLE.KPI_NAME_LA' | translate } }}
            </div>
          </div>
        </div>
        <div class="row form-group justify-content-around">
          <!-- contentVi -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TITLE.CONTENT_VI' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="contentVi"
              [class.is-invalid]="isControlInvalid('contentVi')"
              maxlength="100"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'contentVi')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TITLE.CONTENT_VI' | translate } }}
            </div>
          </div>
          <!-- CONTENT_LA -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TITLE.CONTENT_LA' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="contentLa"
              [class.is-invalid]="isControlInvalid('contentLa')"
              maxlength="100"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'contentLa')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TITLE.CONTENT_LA' | translate } }}
            </div>
          </div>
        </div>
        <div class="row form-group justify-content-around">
          <!-- kpiPolicyVi -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TITLE.KPI_POLICY_VI' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="kpiPolicyVi"
              [class.is-invalid]="isControlInvalid('kpiPolicyVi')"
              maxlength="100"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'kpiPolicyVi')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TITLE.KPI_POLICY_VI' | translate } }}
            </div>
          </div>
          <!-- KPI_POLICY_LA -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TITLE.KPI_POLICY_LA' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="kpiPolicyLa"
              [class.is-invalid]="isControlInvalid('kpiPolicyLa')"
              maxlength="100"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'kpiPolicyLa')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TITLE.KPI_POLICY_LA' | translate } }}
            </div>
          </div>
        </div>

        <div class="row form-group justify-content-around">
          <!-- staffCode -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TITLE.STAFF_CODE' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              formControlName="staffCode"
              [class.is-invalid]="isControlInvalid('staffCode')"
              maxlength="100"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'staffCode')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TITLE.STAFF_CODE' | translate } }}
            </div>
          </div>
          <!-- KPI_POINT -->
          <label class="col-md-2 form-label col-form-label">
            {{ 'TITLE.KPI_POINT' | translate }}
            <span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <input
              type="number"
              class="form-control"
              formControlName="kpiPoint"
              [class.is-invalid]="isControlInvalid('kpiPoint')"
              maxlength="100"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'kpiPoint')">
              {{ 'VALIDATION.REQUIRED' | translate : { name: 'TITLE.KPI_POINT' | translate } }}
            </div>
          </div>
        </div>

        <div class="row form-group justify-content-around">
          <!-- beginContractDate -->
          <label class="col-md-2 form-label col-form-label font-14" for="beginContractDate"
            >{{ 'TITLE.BEGIN_CONTRACT_DATE' | translate }}<span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <mat-form-field appearance="fill">
              <input
                matInput
                formControlName="beginContractDate"
                [matDatepicker]="picker1"
                (dateChange)="eChangeDate()"
                (input)="eChangeDate()"
                class="w-100"
              />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker1" class="icon-datePicker"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <div style="color: red" *ngIf="t1msg != ''">
                {{ t1msg | translate }}
              </div>
            </mat-form-field>
          </div>
          <!-- expiredContractDate -->
          <label class="col-md-2 form-label col-form-label font-14" for="expiredContractDate"
            >{{ 'TITLE.EXPIRED_CONTRACT_DATE' | translate }}<span style="color: red">*</span></label
          >
          <div class="col-md-3">
            <mat-form-field appearance="fill">
              <input
                matInput
                formControlName="expiredContractDate"
                (dateChange)="eChangeDate()"
                (input)="eChangeDate()"
                [matDatepicker]="picker2"
              />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker2" class="icon-datePicker"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <div style="color: red" *ngIf="t2msg != ''">
                {{ t2msg | translate }}
              </div>
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex justify-content-end my-5">
          <button class="btn btn-primary mx-3" style="width: 150px" (click)="eSave()">
            {{ 'ACTION.SAVE' | translate }}
          </button>
          <button class="btn btn-outline-primary mx-3" style="width: 150px" (click)="eClose()">
            {{ 'ACTION.CLOSE' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
