img:hover {
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(163, 236, 160);
  cursor: pointer;
}

tr.example-element-row:active {
  background: #292424;
}

.labelUpload {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.form-select {
  border-radius: 5px;
  border-width: 2px;
  border-color: #0171bb;
}

.form-input {
  border: none !important;
}

.icon-disable {
  color: #b8b8b8;
  cursor: unset !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 15px;
  font-weight: 600;
}

td,
th {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

th.mat-header-cell {
  min-width: 100px !important;
  text-align: center;
  padding-left: 0px;
  font-weight: 600;
}

th.mat-header-cell:first-of-type {
  min-width: 50px !important;
  padding-left: 0px;
  font-weight: 600;
}

.mat-table {
  width: 100%;
}

th,
td {
  font-size: 15px !important;
}

.mat-cell {
  max-width: 150px;
  min-width: 100px;
  word-wrap: break-word;
}

.mat-cell:first-of-type {
  min-width: 30px !important;
}

.blue {
  background-color: #acd2eb;
  font-weight: bold;
}

.ma-phieu-view {
  background: #dbe2f3;
  color: #4674eb;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 3px;
}

::ng-deep .big-size-model-class .modal-dialog {
  max-width: 100%;
  width: 100%;
}

.clickable-label {
  cursor: pointer;
  text-decoration: underline;
  color: #0171bb;
}

.clickable-label:hover {
  color: #51b9ff;
}

.action-disabled {
  i {
    color: #acacac;
  }
}

.action-disabled:hover {
  i {
    color: #acacac;
  }
}

.action-enabled {
  i {
    color: red;
  }
}

.action-enabled:hover {
  i {
    color: rgb(255, 89, 89);
  }
}

::ng-deep .mat-form-field-flex {
  padding-top: 0px !important;
}

.icon-datePicker {
  position: absolute;
  top: -13px;
  right: -5px;
}

.mat-column-assetCode {
  text-align: left !important;
}

.mat-column-beginAmount {
  min-width: 150px !important;
}

.mat-column-beginAvailable {
  min-width: 150px !important;
}

.mat-column-beginOriginalAmount {
  min-width: 150px !important;
}

.mat-column-increaseOriginalAmount {
  min-width: 150px !important;
}

.mat-column-increaseAmount {
  min-width: 150px !important;
}

.mat-column-increaseAvailable {
  min-width: 150px !important;
}

.mat-column-decreaseOriginalAmount {
  min-width: 150px !important;
}
.mat-column-decreaseAmount {
  min-width: 150px !important;
}
.mat-column-decreaseAvailable {
  min-width: 150px !important;
}
.mat-column-endOriginalAmount {
  min-width: 150px !important;
}
.mat-column-endAmount {
  min-width: 150px !important;
}
.mat-column-endAvailable {
  min-width: 150px !important;
}

.mat-column-oldBeginOriginalAmount {
   min-width: 150px !important;
}
.mat-column-oldBeginAmount {
   min-width: 150px !important;
}
.mat-column-oldBeginAvailable {
   min-width: 150px !important;
}
.mat-column-oldIncreaseOriginalAmount {
   min-width: 150px !important;
}
.mat-column-oldIncreaseAmount {
   min-width: 150px !important;
}
.mat-column-oldIncreaseAvailable {
   min-width: 150px !important;
}
.mat-column-oldDecreaseOriginalAmount {
   min-width: 150px !important;
}
.mat-column-oldDecreaseAmount {
   min-width: 150px !important;
}
.mat-column-oldDecreaseAvailable {
   min-width: 150px !important;
}
.mat-column-oldEndOriginalAmount {
   min-width: 150px !important;
}
.mat-column-oldEndAmount {
   min-width: 150px !important;
}
.mat-column-oldEndAvailable {
   min-width: 150px !important;
}

.mat-column-newBeginOriginalAmount {
   min-width: 150px !important;
}
.mat-column-newBeginAmount {
   min-width: 150px !important;
}
.mat-column-newBeginAvailable {
   min-width: 150px !important;
}
.mat-column-newIncreaseOriginalAmount {
   min-width: 150px !important;
}
.mat-column-newIncreaseAmount {
   min-width: 150px !important;
}
.mat-column-newIncreaseAvailable {
   min-width: 150px !important;
}
.mat-column-newDecreaseOriginalAmount {
   min-width: 150px !important;
}
.mat-column-newDecreaseAmount {
   min-width: 150px !important;
}
.mat-column-newDecreaseAvailable {
   min-width: 150px !important;
}
.mat-column-newEndOriginalAmount {
   min-width: 150px !important;
}
.mat-column-newEndAmount {
   min-width: 150px !important;
}
.mat-column-newEndAvailable {
   min-width: 150px !important;
}

.mat-column-endOriginalAmount {
   min-width: 150px !important;
}
.mat-column-endAmount {
   min-width: 150px !important;
}
.mat-column-endAvailable {
   min-width: 150px !important;
}

::ng-deep .mat-paginator-range-actions{
  padding-right: 80px;
}

::ng-deep .mat-paginator-range-label{
  min-width: 100px;
}

::ng-deep .mat-flat-button{
  min-width: 40px !important;
}