img:hover {
  cursor: pointer;
}

img {
  margin-right: 10px;
}

.labelUpload {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
.form-select {
  border-radius: 5px;
  border-width: 2px;
  border-color: #0171bb;
}
.form-input {
  border: none !important;
}

.action-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.icon-view-detail {
  color: #0171bb;
  cursor: pointer;
}

.icon-view-detail:hover {
  color: #51b9ff;
}

.icon-disable {
  color: #b8b8b8;
  cursor: unset !important;
}

table {
  width: 100%;
}

td {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

tr {
  height: 40px;
}

.column-loTrinh {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  padding: 4px 20px;
  color: #4674eb;
}

.column-empty-list {
  text-align: center;
}
.column-index {
  text-align: center;
}
.column-loaiFile {
  text-align: left;
}
.column-tenFile {
  text-align: left;
}
.column-ghiChu {
  text-align: left;
}
.column-hanhDong {
  text-align: center;
  max-width: 50px;
}

.ma-phieu-view {
  background: #dbe2f3;
  color: #4674eb;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 3px;
}

.sticky-input-button {
  border-radius: 7px 0px 0px 7px;
}
