//fix padding
::ng-deep .field-autocomplete {
  box-sizing: border-box;
  padding: 0.65rem 1rem;
}


::ng-deep .mat-paginator-range-actions{
  padding-right: 80px;
}

::ng-deep .mat-paginator-range-label{
  min-width: 100px;
}

::ng-deep .mat-flat-button{
  min-width: 40px !important;
}